@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: #DD2233;
  --dk-red: #a81c29;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-theme-red: #d22333;
  --color-theme-white: #FFFFFF;
  --color-theme-lt-red: #FBE9EB;
  --color-theme-dk-red: #a81c29;
  --color-theme-grey: #D9D9D9;
  --color-bg-lt-grey: #E5E5E5;
  --color-text-grey-muted: #ABABAB;
  --color-text-grey: #828282;
  --color-text-dk-grey: #404040;
}


@layer utilities {
  .heading {
    @apply text-5xl font-semibold tracking-[-0.02em] text-theme-red leading-16;
  }

  .ctaheading {
    @apply text-4xl font-semibold tracking-[-0.02em] text-theme-red leading-16;
  }

  .subheading {
    @apply text-xl font-medium
  }


  .descriptext {
    @apply text-lg font-normal leading-[160%];
  }

  .subtext {
    @apply text-xl font-normal text-text-dk-grey leading-[160%];
  }

  .navtext {
    @apply text-base text-text-dk-grey font-medium;
  }

  .footerheading {
    @apply text-2xl font-semibold tracking-[-0.02em] text-theme-red leading-16;
  }

  .footerbottomtext {
    @apply text-base leading-normal text-text-grey text-center
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}