@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: #DD2233;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-theme-red: #d22333;
  --color-theme-dk-red: #bd2e2e;
  --color-theme-grey: #828282;
  --color-theme-dk-grey: #534f4f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--color-black);
  font-family: Arial, Helvetica, sans-serif;
}