@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: #DD2233;
  --dk-red: #a81c29;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-theme-red: #d22333;
  --color-theme-white: #FFFFFF;
  --color-theme-lt-red: #FBE9EB;
  --color-theme-m-red: #eda7ad;
  --color-theme-dk-red: #a81c29;
  --color-theme-grey: #D9D9D9;
  --color-bg-x-lt-grey: #EFEFEF;
  --color-bg-lt-grey: #E5E5E5;
  --color-bg-m-grey: #898989;
  --color-bg-dk-grey: #404040;
  --color-text-grey-muted: #ABABAB;
  --color-text-grey: #828282;
  --color-text-dk-grey: #404040;
  --color-text-red: #C51F2F;
}


@layer utilities {
  .mainheading {
    @apply text-5xl font-semibold tracking-[-0.02em] text-theme-red leading-16;
  }

  .contactheading {
    @apply text-5xl font-semibold tracking-[-0.02em] text-theme-white leading-16;
  }

  .heading {
    @apply text-4xl font-semibold tracking-[-0.02em] text-theme-red leading-16;
  }

  .ctaheading {
    @apply text-4xl font-semibold tracking-[-0.02em] text-theme-red leading-16;
  }

  /* do not add color  */
  .subheading {
    @apply text-xl font-medium
  }

  /* do not add color */
  .descriptext {
    @apply text-lg font-normal leading-[160%];
  }

  .subtext {
    @apply text-xl font-normal text-text-dk-grey leading-[160%];
  }

  .navtext {
    @apply text-base text-text-dk-grey font-medium;
  }

  .footerheading {
    @apply text-2xl font-semibold tracking-[-0.02em] text-theme-red leading-16;
  }

  .footerbottomtext {
    @apply text-base leading-normal text-text-grey text-center
  }

  .cardheading {
    @apply text-2xl font-semibold tracking-[-0.02em] text-theme-red;
  }

  .cardtext {
    @apply text-base leading-normal text-text-dk-grey
  }

  .teamheading {
    @apply text-4xl font-semibold tracking-[-0.02em] leading-16 text-theme-white;
  }

  .membername {
    @apply text-xl leading-normal text-text-dk-grey font-medium
  }

  .membertag {
    @apply text-base leading-normal text-text-red
  }

  .formlabel {
    @apply text-xl tracking-[-0.02em];
  }

  .universepad {
    @apply px-24
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}