@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: #DD2233;
  --dk-red: #a81c29;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-theme-red: #d22333;
  --color-theme-white: #FFFFFF;
  --color-theme-offwhite: #f6f7f9;
  --color-theme-lt-red: #FBE9EB;
  --color-theme-m-red: #eda7ad;
  --color-theme-dk-red: #a81c29;
  --color-theme-grey: #D9D9D9;
  --color-bg-x-lt-grey: #EFEFEF;
  --color-bg-lt-grey: #E5E5E5;
  --color-bg-m-grey: #898989;
  --color-bg-dk-grey: #404040;
  --color-text-lt-grey: #eeeeee;
  --color-text-lt-grey-2: #c4c4c4;
  --color-text-grey-muted: #ABABAB;
  --color-text-grey: #828282;
  --color-text-dk-grey: #404040;
  --color-text-red: #C51F2F;
}


@layer utilities {
  .mainheading {
    @apply text-xl sm:text-3xl md:text-4xl xl:text-5xl font-semibold tracking-[-0.02em] text-theme-red leading-10 sm:leading-14 lg:leading-16;
  }


  .whitemainheading {
    @apply text-5xl font-semibold tracking-[-0.02em] text-theme-white leading-16;
  }

  .whitesubtext {
    @apply text-xl text-theme-white;
  }

  .heading {
    @apply text-xl sm:text-2xl md:text-3xl xl:text-4xl font-semibold tracking-[-0.02em] text-theme-red leading-8 md:leading-10 lg:leading-16;
  }


  .subtext {
    @apply text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl text-text-dk-grey leading-[160%];
  }

  .footerheading {
    @apply text-base md:text-lg xl:text-xl font-semibold text-theme-red;
  }

  .footerbottomtext {
    @apply text-xs md:text-sm xl:text-base leading-normal text-text-dk-grey
  }

  .ctaheading {
    @apply text-4xl font-semibold tracking-[-0.02em] text-theme-red leading-16;
  }

  /* do not add color  */
  .subheading {
    @apply text-sm sm:text-base md:text-lg xl:text-xl font-medium
  }

  /* do not add color */
  .descriptext {
    @apply text-xs md:text-sm lg:text-base font-normal leading-[160%];
  }

  .cardheading {
    @apply text-2xl font-semibold tracking-[-0.02em] text-theme-red;
  }

  .cardtext {
    @apply text-base leading-normal text-text-dk-grey
  }

  .teamheading {
    @apply text-4xl font-semibold tracking-[-0.02em] leading-16 text-theme-white;
  }

  .membername {
    @apply text-xl leading-normal text-theme-white font-medium
  }

  .longmembername {
    @apply text-lg leading-normal text-theme-white font-medium
  }


  .membertag {
    @apply text-sm leading-normal text-text-red
  }

  .formlabel {
    @apply text-xl tracking-[-0.02em];
  }

  .universepad {
    @apply px-5 sm:px-10 md:px-16 lg:px-24
  }

  .lgbutton {
    @apply px-4 md:px-6 lg:px-8 xl:px-12 text-sm sm:text-base md:text-lg xl:text-xl py-0 sm:py-3 h-10 sm:h-13 min-w-20 sm:min-w-35 md:min-w-45 lg:min-w-60
  }

  .midbutton {
    @apply px-4 lg:px-6 text-base xl:text-lg py-2 h-11 min-w-30
  }

  .smbutton {
    @apply px-4 h-10 text-xs sm:text-sm
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}