@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --red: #DD2233;
  --dk-red: #a81c29;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-theme-red: #d22333;
  --color-theme-dk-red: #a81c29;
  --color-theme-lt-grey: #E5E5E5;
  --color-theme-grey: #828282;
  --color-theme-dk-grey: #404040;
}


@layer utilities {
  .title {
    @apply text-5xl font-semibold tracking-[-0.02em] text-theme-red;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}